.item-cart {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: 200ms;

  &:hover {
    transition: 200ms;
    fill: rgb(18, 109, 255);
  }
}

.fade-in-remove {
  position: absolute;
  right: 38%;
  opacity: 0;
  transform: translateY(40px);
  animation: fade-in-out 1200ms ease 200ms forwards;
}

.fade-in-add {
  position: absolute;
  right: 33%;
  opacity: 0;
  transform: translateY(40px);
  animation: fade-in-out 1200ms ease 200ms forwards;
}
