@import '../../utils/variables.syles.scss';

.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 90px;
    padding-top: 20px;

    .logo {
      fill: $primary-clr;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;

    .nav-link {
      font-size: 1.2rem;
      cursor: pointer;
      color: black;
    }
  }
}
