@import '../../utils/animations.scss';

.shopping-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 2;
  animation: fade-in 200ms forwards ease;

  &.fade-out {
    animation: fade-out 200ms forwards ease;
  }

  &-bg {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
  }

  &-container {
    position: absolute;
    width: 100%;
    max-width: 360px;
    height: 95vh;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    z-index: 3;

    .shopping-cart-tabs {
      display: flex;

      .shopping-cart-tab {
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid rgb(185, 185, 185);
        box-shadow: 0 3px 5px rgb(202, 202, 202);
        width: 10.5rem;
        color: rgb(185, 185, 185);
        fill: rgb(185, 185, 185);
        cursor: pointer;

        &.active {
          fill: black;
          color: black;
          border-bottom: 2px solid black;
        }

        &.shopping-cart-close {
          width: 4rem;
          height: 4rem;
          fill: #000000;
        }
      }
    }
    @media only screen and (max-width: 810px) {
      & {
        margin-right: 0;
      }
    }
  }
  &-contents {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    height: 93%;
  }

  &-items {
    overflow-y: scroll;
    max-height: 90%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .checkout-btn {
    align-self: center;
  }

  @media only screen and (max-width: 810px) {
    & {
      justify-content: center;
    }
  }
}
